@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-text {
    background-image: linear-gradient(to right, #ff0099, #00ccff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }